.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 10vh 90vh;
  overflow: hidden;
}


.App-header {
  background-color: #282c34;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-app{
  background-color: gray;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-direction:row;
}

.poke-list{
  grid-row:2 ;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: lightgray;
  min-height:80vh;
  max-width: 20vw;
  flex-direction: column;
}
.pokemon{
  grid-row:2 ;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: darkcyan;
  min-height:80vh;
  max-width: 80vw;
}